<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <center><h1>Are You Burned Out At Work Quiz!</h1></center>
    <div class="topnav">
        <a href="../index.html">Home</a>
        <a class="active" href="quiz.html">Burnout Quiz</a>
        <div class="topnav-right">
            <a href="sharice.html">Sharice</a>
            <a href="keiko.html">Keiko</a>
            <a href="rizky.html">Rizky</a>
            <a href="samori.html">Samori</a>
        </div>
    </div>
    <center> <h1>Take a quick quiz to see if you are burned out at work?</h1></center>
    <br />
    <br />


    <center><h2>
    <form action="/action_page.php">
        <label for="gender">What is a your gender:</label>
        <select id="gender" name="gender">
            <option value=""></option>
            <option value="female">female</option>
            <option value="male">male</option>
        </select>
        <br />
        <br />
        <label for="WFH">WFH Setup Available:</label>
        <select id="WFH" name="WFH">
            <option value=""></option>
            <option value="yes">yes</option>
            <option value="no">no</option>
        </select>
        <br />
        <br />
        <label for="Company">Company Type:</label>
        <select id="Company" name="Company">
            <option value=""></option>
            <option value="product">product</option>
            <option value="service">service</option>
        </select>
        <br />
        <br />
        <input type="submit">
    </form>
</h2>
    </center>



</body>
</html>